# Core Python env
python-dotenv==1.0.1

# AWS / S3 (Step 1 - ingestion via Airbyte / scripts)
boto3==1.34.38
botocore==1.34.38

# MongoDB (Step 2)
pymongo==4.6.1

# Data handling
python-dateutil==2.8.2
